<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BLOB_KEY" value="PdpA+IDe5XkRQ/1HYx8CtaPtbMUa+JkydAbrJbv8eKosVuouW6YFARct+QzyhpobHaCjhFzA8RtCA+fyi8tJfw==" />
		<add key="CONTAINER" value="faces" />
		<add key="IMAGE_BASE_URL" value="https://csdx.blob.core.windows.net/resources/Face/Images/" />
		<add key="FACE_URL" value="http://6221faces.blob.core.windows.net/faces/" />
		<add key="DBS_SOURCE" value="csci6221.database.windows.net"/>
		<add key="USERID" value="thompson_e"/>
		<add key ="PASSWORD" value="sc&amp;rp1&amp;N"/>
		<add key="INITIAL" value="CSCI6221Users"/>
	</appSettings>
</configuration>